/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  padding-top: 5px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.bottom{
  width: 100%;
  height: 35%;
  background-color: 238	238	238;
}

.contacto {
  color:red;
  font-size:1.5em;
}

/* LOGIN */
.area_login
{
    padding-top:70px;
    width:100%;
}

.top_txt
{
    color:#a72222;
    position:relative;
    font-size: 18px;

}

.top_txt2
{
    color:#a72222;
    margin-bottom:54px;
    position:relative;
    font-style: oblique;
}

.login_row
{
    display: table-row;
}


.login_tit
{
    display: table-cell;
    vertical-align: top;
    color:#a72222;
    text-align:left;
    padding-right:20px;
}

.section_txt
{
    display: table-cell;
    vertical-align: top;
    color:#a72222;
    text-align:left;
    padding-top:30px;
    padding-bottom:30px;
}

.login_box input[type=text], input[type=password]
{
    display: table-cell;
    border: 0px solid #FFF;
    background-color: #d6d6d6;
    width: 250px;
    height: 35px;
    color: #333333;
    font-size: 14px;
    margin-bottom:12px;
    text-align:left;
}


.ignore
{
    display:inline-block;
    font-size:14px;
    color:#a72222;
    padding-bottom:10px;
    text-align:left;
}

.error{
  margin-top: -50px;
  padding-bottom: 25px;
  color: #ff0000;
  font-size: 1.5em;
}

.bienvenido {
  text-decoration: underline;
  color: #80b8ac;
  margin-top: 70px;
}
